<?xml version="1.0"?>
<!--
Web.config file for Grouping_Colors.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
    <appSettings>
    <add key="APIUrl" value="https://reqres.in/api/example?page={pageNumber}" />
        <add key="ContentTypeHeader" value="Content-Type:application/json" />
        <add key="AcceptHeader" value="Accept:application/json" />
        <add key="DataJson" value="data" />
        <add key="PageJson" value="page" />
        <add key="TotalPagesJson" value="total_pages" />
        <add key="CurrentPageNumber" value="1" />
        <add key="TotalPages" value="1" />
</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>